@media (min-width: 1200px) {
    .class-block-item{
        padding-right: 4px;
        width: 20%;
    }
}
@media (min-width: 992px) {
    .list-button {
        display: none;
    }    
    .chapter-title-label {
        display: flex;
        align-items: center;
    }
    .chapter-title-label-mobile {
        display: none;
    }
    .home-logo {
        height: 37px;
    }    
    .list-logo, .dnd-su-logo {
        width: 30px;
    }
    .parting-words {
        display: none;
    }
    .parting-words-wide {
        display: flex;
        align-items: center;
    }
    .main-menu-back {
        display: none;
    }
    content .container .main-menu-block {
        width: 350px;
        position: static;
    }
}
@media (max-width: 1200px) {
    .class-block-item{
        padding-right: 4px;
        width: 25%;
    }
}
@media (max-width: 992px) {
    content .container .active{
        transform: translateX(0);
        z-index: 4;
    }
    content .main-menu-back {
        position: fixed;
        top: 33px;
        left: 0;
        width: 100%;
        height: calc(100vh - 30px);
        transform: translateX(100%);
        background-color: rgb(0, 0, 0);
    }
    content .main-menu-block {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100vh - 40px);
        transform: translateX(100%);
    }    
    content .container .main-menu-block .container {
        width: 350px;
    }
    .chapter-title-label {
        display: none;
    }
    .chapter-title-label-mobile {
        display: block;
    }
    .home-logo {
        height: 30px;
    }    
    .list-logo, .dnd-su-logo {
        width: 25px;
    }
    .parting-words {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .soul-data-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .parting-words-wide {
        display: none;
    }
}
@media (max-width: 768px) {
    .class-block-item{
        padding-right: 4px;
        width: 33%;
    }
}
@media (max-width: 576px) {
    .class-block-item{
        width: 100%;
    }
}
body {
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0,212,255,0) 100%), url("../Images/grimm_back.png") fixed no-repeat bottom left, url("../Images/grimm_empty_back.png") fixed;
}
li {
    list-style-type:none;
}
content ol, content ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    margin-bottom: 0;
}
content button {
    border: none;
    background: none;
}
footer {
    background-color:rgb(44, 43, 42);
    color: white;
    padding: 10px;
    border-top: 2px solid rgb(90, 89, 85);
}
.header-row {
    justify-content: space-between;    
}
.append-button-block { 
    display: flex;
    align-items:center;
}
.header-back {
    background-color:rgb(44, 43, 42);
    border-bottom: 2px solid rgb(90, 89, 85);
    z-index: 4;
}
.home-button, .list-button {
    background: none;
    border: none;
    width: fit-content;
}
.chapter-title-label {
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-left:  2px solid rgb(90, 89, 85); ;
}
.soul-data {
    border-right: 2px solid rgb(90, 89, 85);
}
.main-info-block {
    border-radius: 2px;
}
.main-info-block-item {
    background-color: rgb(236, 228, 217);
    border-radius: 2px;
    margin-bottom: 10px;
}
.main-menu-block-item {
    margin-bottom: 5px;
}
.main-menu-block-item-label {
    background-color: rgb(65, 65, 65);
    border: rgb(90, 89, 85) solid 2px;
    border-radius: 5px;
    color: white;
}
.main-menu-block-item-label:hover {
    background-color: rgb(90, 89, 85);
    color: rgb(144, 197, 128);
}
.main-menu-block-item-label .label {
    text-align: left;
    font-size: 30px;
}
.main-menu-block-item-list {
    border-left: rgb(90, 89, 85) solid 2px;
    border-right: rgb(90, 89, 85) solid 2px;
    border-bottom: rgb(90, 89, 85) solid 2px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(38, 38, 38);
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-bottom: 5px;
}
.main-menu-block-item-list button {
    color: white;
    text-decoration: none;
}
.main-menu-block-item-list .row {
    padding-left: 8px;
    padding-right: 8px;
}
.main-menu-block-item-list button .content-data {
    text-align: left;
    padding-left: 2px;
}
.main-menu-block-item-list button .image-data {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-menu-block-item-list button:hover {
    color: rgb(30, 161, 13);
    text-decoration: solid white 2px;

}
.main-info-block-chapter-label{
    color: white;
    background-color:  rgb(46, 46, 46);
    border-radius: 4px;
    padding: 5px;
}
.chapter-title-label-data {
    font-size: 20px;
}
.chapter-data-container-label {
    font-weight: 600;
    font-size: 24px;
}
.news-info-block-header {
    font-size: 25px;
    font-weight: 500;
    padding: 8px 8px 4px 8px;
}
.news-info-block-body {
    padding: 4px 8px 8px 8px;
}
.news-info-block-body .col button {
    font-style: italic;
}
.news-info-block-body .col button:hover{
    font-weight: 600;
}
.news-info-block-body img{
    max-width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(48, 48, 48,0.5);
    margin: 10px;
}
.news-info-block-body .image-data{
    display: flex;
    justify-content: center;
}
.grid-data {
    display: flex;
    flex-flow: row wrap;
}
.class-block-item .main-info-block-item {
    position: relative;
    z-index: 2;
    height: 75px;
}
.class-block-item .text-data {
    position: relative;
    z-index: 3;
}
.class-block-item img {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.class-block-item .class-name-head {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 3px white;
    line-height: 1;
    margin-bottom: 5px;

}
.class-block-item .class-name-append {
    font-style: italic;
    margin-top: -7px;
}
.class-block-item .main-info-block-item:hover {
    background-color: rgb(230, 206, 174);
}
.header-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.stub-header {
    visibility: hidden;
    padding: 6px;
}
.group-name {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
