@media (min-width: 1200px) {
    .class-block-item{
        padding-right: 4px;
        width: 20%;
    }
    table .long{
        display: inline;
    }
    table .short{
        display: none;
    } 
    .class-progress-table {
        margin: 15px 8px;   
        width: calc(100% - 16px);
    }
    .race-page-data-background-image img {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .list-button {
        display: none;
    }    
    .chapter-title-label {
        display: flex;
        align-items: center;
    }
    .chapter-title-label-mobile {
        display: none;
    }
    .home-logo {
        height: 37px;
    }    
    .list-logo, .dnd-su-logo {
        width: 30px;
    }
    .parting-words {
        display: none;
    }
    .parting-words-wide {
        display: flex;
        align-items: center;
    }
    .main-menu-back {
        display: none;
    }
    content .container .main-menu-block {
        width: 350px;
        position: static;
    }
    body {
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(0,212,255,0) 100%), url("../Images/back_vert.png");
    }
    .race-page-data-background-image {
        display: block;
    }
    .race-page-data-background-image img {
        max-width: 600px;
    }
}
@media (max-width: 1200px) {
    .class-block-item{
        padding-right: 4px;
        width: 25%;
    }
    table .long{
        display: none;
    }
    table .short{
        display: inline;
    }
    .class-progress-table {
        margin: 15px 0px;   
        width: 100%;
    }
}
@media (max-width: 992px) {
    content .container .active{
        transform: translateX(0);
        z-index: 30;
    }
    content .main-menu-back {
        position: fixed;
        top: 33px;
        left: 0;
        width: 100%;
        height: calc(100vh - 30px);
        transform: translateX(100%);
        background-color: rgb(0, 0, 0);
    }
    content .main-menu-block {
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: calc(100vh - 40px);
        transform: translateX(100%);
    }    
    content .container .main-menu-block .container {
        width: 350px;
    }
    .chapter-title-label {
        display: none;
    }
    .chapter-title-label-mobile {
        display: block;
    }
    .home-logo {
        height: 30px;
    }    
    .list-logo, .dnd-su-logo {
        width: 25px;
    }
    .parting-words {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .soul-data-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .parting-words-wide {
        display: none;
    }
    body {
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0,212,255,0) 100%), url("../Images/back_vert.png");
        background-size: cover;
    }
    table .long{
        display: inline;
    }
    table .short{
        display: none;
    }
    .race-page-data-background-image {
        display: none;
    }
}
@media (max-width: 768px) {
    .class-block-item{
        padding-right: 4px;
        width: 33%;
    }
    table .long{
        display: none;
    }
    table .short{
        display: inline;
    }    
}
@media (max-width: 576px) {
    .class-block-item{
        width: 100%;
    }
    table.class-progress-table td {
        padding-left: 2px;
        padding-right: 2px;
    }
}

li {
    list-style-type:none;
}
content ol, content ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    margin-bottom: 0;
}
content button {
    border: none;
    background: none;
}
footer {
    background-color:rgb(44, 43, 42);
    color: white;
    padding: 10px;
    border-top: 2px solid rgb(90, 89, 85);
}
body p {
    margin-top: 0px;
    margin-bottom: 8px;
    line-height: 1.3;
    font-weight: 350;
}
.header-row {
    justify-content: space-between;    
}
.append-button-block { 
    display: flex;
    align-items:center;
}
.header-back {
    background-color:rgb(44, 43, 42);
    border-bottom: 2px solid rgb(90, 89, 85);
    z-index: 20;
}
.home-button, .list-button {
    background: none;
    border: none;
    width: fit-content;
}
.chapter-title-label {
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-left:  2px solid rgb(90, 89, 85); ;
}
.soul-data {
    border-right: 2px solid rgb(90, 89, 85);
}
.main-info-block {
    border-radius: 2px;
}
.main-info-block-item {
    background-color: rgb(236, 228, 217);
    border-radius: 2px;
    margin-bottom: 10px;
}
.main-menu-block-item {
    margin-bottom: 5px;
}
.main-menu-block-item-label {
    background-color: rgb(65, 65, 65);
    border: rgb(90, 89, 85) solid 2px;
    border-radius: 5px;
    color: white;
}
.main-menu-block-item-label:hover {
    background-color: rgb(90, 89, 85);
    color: rgb(144, 197, 128);
}
.main-menu-block-item-label .label {
    text-align: left;
    font-size: 30px;
}
.main-menu-block-item-list {
    border-left: rgb(90, 89, 85) solid 2px;
    border-right: rgb(90, 89, 85) solid 2px;
    border-bottom: rgb(90, 89, 85) solid 2px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(38, 38, 38);
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-bottom: 5px;
}
.main-menu-block-item-list button {
    color: white;
    text-decoration: none;
}
.main-menu-block-item-list .row {
    padding-left: 8px;
    padding-right: 8px;
}
.main-menu-block-item-list button .content-data {
    text-align: left;
    padding-left: 2px;
}
.main-menu-block-item-list button .image-data {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-menu-block-item-list button:hover {
    color: rgb(30, 161, 13);
    text-decoration: solid white 2px;

}
.main-info-block-chapter-label{
    color: white;
    background-color:  rgb(46, 46, 46);
    border-radius: 4px;
    padding: 5px;
}
.chapter-title-label-data {
    font-size: 20px;
}
.chapter-data-container-label {
    font-weight: 600;
    font-size: 24px;
}
.news-info-block-header {
    font-size: 25px;
    font-weight: 500;
    padding: 8px 8px 4px 8px;
}
.news-info-block-body {
    padding: 4px 8px 8px 8px;
}
.news-info-block-body .col button {
    font-style: italic;
}
.news-info-block-body .col button:hover{
    font-weight: 600;
}
.news-info-block-body img{
    max-width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(48, 48, 48,0.5);
    margin: 10px;
}
.news-info-block-body .image-data{
    display: flex;
    justify-content: center;
}
.grid-data {
    display: flex;
    flex-flow: row wrap;
}
.class-block-item .main-info-block-item {
    position: relative;
    z-index: 2;
    height: 75px;
}
.class-block-item .text-data {
    position: relative;
    z-index: 3;
    padding-top: 4px;
}
.class-block-item img {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.class-block-item .class-name-head {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 3px white;
    line-height: 1;
    margin-bottom: 5px;

}
.class-block-item .class-name-append {
    font-style: italic;
    margin-top: -7px;
}
.class-block-item .main-info-block-item:hover {
    background-color: rgb(230, 206, 174);
}
.header-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.stub-header {
    visibility: hidden;
    padding: 6px;
}
.group-name {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.main-info-block-item h3 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
.main-info-block-item h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.race-page .title-block{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}
.race-page .race-name {
    font-size: 25px;
    font-weight: 600;
}
.race-page .origin-name strong, .race-page .right-epigraph strong{
    font-weight: 500;
}
.race-page .right-epigraph {
    margin-top: 15px;
    text-align: right;
    font-style: italic;
}
.race-page .page-content {
    padding-left: 12px;
    padding-right: 12px;
}
.underlined {
    border-bottom: 1px solid #691414;
    color: #691414;
    padding: 0;
    display: block;
    margin: 0 0 8px;
}
.no-underlined {
    color: #691414;
    padding: 0;
    display: block;
    margin: 0 0 8px;
}
.no-underlined-black {
    padding: 0;
    display: block;
    margin: 0 0 8px;
}
.content-block {
    margin-bottom: 15px;
}
.feature-race {
    font-weight: 500;
    font-style: italic;
}
.empty-line {
    visibility: hidden;
}
.page-footer.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
.additional-info{
    background: rgba(89,192,184,.1);
    border: 1px solid rgb(202, 202, 202);
    margin: 16px;
    border-radius: 2px;
    padding: 8px;
    box-shadow: 2px 2px 0 0 rgb(179, 179, 179);
}
.additional-info .content-block{
    margin-top: 20px;
    margin-bottom: 10px;
}
.additional-info .content-block p{
    margin-bottom: 4px;
}
.feature-class {
    font-weight: 500;
}
.class-progress-table th, .class-progress-table td {
    text-align: center;
    border: 1px solid rgba(168, 168, 168,.3);
}
.class-progress-table td {
    padding: 0px 8px;
}
.class-progress-table td.left-content {
    text-align: left;
}
.class-progress-table .tb-head-row {
    background-color: rgba(20, 20, 20, .1);
}
.class-progress-table th {
    padding: 4px 8px;
    font-weight: 600;
}
.page-content table tr:not(.tb-head-row):not(.tb-empty-row):hover {
    background-color: rgba(255,165,0,.2);
}
.page-content table tr:nth-child(odd) {
    background-color: rgba(20,20,20,.05);
}
.ability-level-description {
    font-style: italic;
    padding: 0;
    margin-top: -5px;
    margin-bottom: 10px;
}
h2.hide-next:not(.active) {    
    margin:0;
}
.hide-next-block-area {
    padding: 8px;
    border: 1px solid rgba(20,20,20,.1);
    border-radius: 5px;
    background-color: rgba(20,20,20,.05);
}
h2.hide-next:hover {
    cursor:pointer;
}
.hide-next-block.active {
    display: block;
}
.hide-next-block:not(.active) {
    display: none;
}
.race-page-data-background-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 10px;
}
.content-data-block {
    position: relative;
}.race-page-data-background-image img {
    max-height: 600px;
    filter: sepia(80%) saturate(100%) opacity(40%);;
}
.race-page {
    position: relative;
    z-index: 6;    
}
.gallery-head-title {
    color: rgb(236, 228, 217);
    font-size: 24px;
    font-weight: 400;
}
.gallery-body .image-crd {
    background-color: rgb(236, 228, 217);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.gallery-body img {
    width: auto;
    height: 185px;
}
.gallery {
    position: relative;
    z-index: 5;
}
.gallery-view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(20, 20, 20);
}
.gallery-view.active{
    display: block;
    z-index: 19;
}
.gallery-view-image-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.gallery-view-image-banner {
    cursor:initial;
}
.gallery-view-image-banner img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: calc(100% - 100px);
}
.gallery-view-clue-block {
    position: fixed;
    z-index: 25;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.5);
}
.gallery-view-clue-block-data {
    padding: 10px;
    text-align: center;
}